/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/departments/department-detail/department-detail.component.scss */
@use '../../../../styles/core/variable' as *;

.department-detail-content {
  .department-form-container {
    padding: $spacing-4 0;
  }
}

