// Path: GeneralWebApi/Frontend/general-frontend/src/app/Shared/components/toast-container/toast-container.component.scss
.toast-container-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

