/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/contracts/submit-contract-approval/submit-contract-approval.component.scss */
@use '../../../../styles/core/variable' as *;

.submit-approval-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-4;
}







