// Path: GeneralWebApi/Frontend/general-frontend/src/app/features/permissions/add-permission/add-permission.component.scss

// Custom icon color for permission management
.page-container {
  .page-header {
    h2 {
      .material-icons {
        color: var(--color-error);
      }
    }
  }
}

