<!-- Path: GeneralWebApi/Frontend/general-frontend/src/app/layout/public-layout.component.html -->
<div class="app-public-layout">
  <div class="app-public-layout__content">
    

    <!-- Public Main Content -->
    <main class="public-main">
      <router-outlet />
    </main>

    <!-- Public Footer -->
    <app-footer
      *ngIf="showFooter"
      [isPublicLayout]="true"
      [showVersion]="false"
      [copyrightText]="'GeneralWebApi. All rights reserved.'"
    >
    </app-footer>
  </div>
</div>
