/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/positions/position-detail/position-detail.component.scss */
@use '../../../../styles/core/variable' as *;

.position-detail-content {
  .position-form-container {
    padding: $spacing-4 0;
  }
}

