/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/contracts/contract-detail/contract-detail.component.scss */
@use '../../../../styles/core/variable' as *;

.contract-detail-content {
  width: 100%;
}

.contract-form-container {
  width: 100%;
  padding: $spacing-2;
}

