/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/positions/add-position/add-position.component.scss */
@use '../../../../styles/core/variable' as *;

.add-position-container {
  padding: $spacing-4;
}

