/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/roles/add-role/add-role.component.scss */

// Custom icon color for role management
.page-container {
  .page-header {
    h2 {
      .material-icons {
        color: var(--color-warning);
      }
    }
  }
}

