/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/roles/add-role/add-role.component.scss */
@use '../../../../styles/core/variable' as *;

.add-role-container {
  padding: $spacing-4 0;
}

.form-section {
  margin-bottom: $spacing-6;

  .form-container {
    padding-top: $spacing-4;
  }
}