/* Path: GeneralWebApi/Frontend/general-frontend/src/app/features/departments/add-department/add-department.component.scss */
@use '../../../../styles/core/variable' as *;

.add-department-container {
  padding: $spacing-4;
}

